.welcome::before, .welcome::after {
    content: '';
    position: absolute;
    background: #e5e7ec;
    width: calc(50% - 20px);
    height: 1px;
    top: 60%;
    transform: translateY(-50%);
}
.registration-line::after {
    content: "";
    width: 70%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -0px;
    background: #e7e5e5;
    background-image: linear-gradient(to right, #fff, #3854a5, #fff);
}
  